.topnav{
    min-height: 1px;
    max-height: 40px;
    background-color: #f2f2f2;
    font-size: 14px;

    .navbar-cont{
        justify-content: end !important;

        .nav-link{
            color: #878787;
            margin-right: 15px;
            padding: 0 30px;
        }
    }
}